CREATE TABLE IF NOT EXISTS patient_goals (id bigint(20) NOT NULL AUTO_INCREMENT, pid bigint(20) NOT NULL, goal_type varchar(50) NOT NULL DEFAULT 'weight_loss', goal_weight decimal(8,2) NOT NULL, target_date date NOT NULL, notes text, status enum('active','achieved','inactive') NOT NULL DEFAULT 'active', created_date datetime NOT NULL DEFAULT CURRENT_TIMESTAMP, updated_date datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, PRIMARY KEY (id), KEY idx_pid (pid), KEY idx_goal_type (goal_type), KEY idx_status (status), KEY idx_target_date (target_date)) ENGINE=InnoDB DEFAULT CHARSET=utf8;
