
CREATE TABLE IF NOT EXISTS `patient_goals` (
CREATE TABLE IF NOT EXISTS `weight_analytics_cache` (
    'Adding weight tracking indexes to form_vitals...' => "ALTER TABLE 
`form_vitals` ADD INDEX IF NOT EXISTS `idx_weight_tracking` (`pid`, `date`, 
`weight`)",
    'Adding weight analysis indexes...' => "ALTER TABLE `form_vitals` ADD 
INDEX IF NOT EXISTS `idx_weight_analysis` (`weight`, `date`)",


