-- Custom Multi-Clinic Inventory System
-- This is completely separate from OpenEMR's existing inventory system
-- Created for learning/experience purposes

-- Custom clinics table
CREATE TABLE IF NOT EXISTS `custom_clinics` (
  `clinic_id` int(11) NOT NULL AUTO_INCREMENT,
  `clinic_name` varchar(255) NOT NULL,
  `clinic_code` varchar(50) NOT NULL,
  `address` text,
  `phone` varchar(20),
  `email` varchar(255),
  `is_active` tinyint(1) DEFAULT 1,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`clinic_id`),
  UNIQUE KEY `clinic_code` (`clinic_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Custom drugs table
CREATE TABLE IF NOT EXISTS `custom_drugs` (
  `drug_id` int(11) NOT NULL AUTO_INCREMENT,
  `drug_name` varchar(255) NOT NULL,
  `generic_name` varchar(255),
  `ndc_number` varchar(20),
  `manufacturer` varchar(255),
  `dosage_form` varchar(100),
  `strength` varchar(100),
  `unit` varchar(50),
  `is_active` tinyint(1) DEFAULT 1,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`drug_id`),
  UNIQUE KEY `ndc_number` (`ndc_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Custom inventory table
CREATE TABLE IF NOT EXISTS `custom_inventory` (
  `inventory_id` int(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` int(11) NOT NULL,
  `drug_id` int(11) NOT NULL,
  `lot_number` varchar(50),
  `expiration_date` date,
  `quantity_on_hand` int(11) NOT NULL DEFAULT 0,
  `quantity_allocated` int(11) NOT NULL DEFAULT 0,
  `quantity_available` int(11) NOT NULL DEFAULT 0,
  `unit_cost` decimal(10,2) DEFAULT 0.00,
  `reorder_point` int(11) DEFAULT 10,
  `max_stock` int(11) DEFAULT 100,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`inventory_id`),
  KEY `clinic_id` (`clinic_id`),
  KEY `drug_id` (`drug_id`),
  KEY `expiration_date` (`expiration_date`),
  FOREIGN KEY (`clinic_id`) REFERENCES `custom_clinics` (`clinic_id`) ON DELETE CASCADE,
  FOREIGN KEY (`drug_id`) REFERENCES `custom_drugs` (`drug_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Central inventory tracking
CREATE TABLE IF NOT EXISTS `custom_central_inventory` (
  `central_id` int(11) NOT NULL AUTO_INCREMENT,
  `drug_id` int(11) NOT NULL,
  `total_quantity` int(11) NOT NULL DEFAULT 0,
  `total_allocated` int(11) NOT NULL DEFAULT 0,
  `total_available` int(11) NOT NULL DEFAULT 0,
  `total_value` decimal(12,2) DEFAULT 0.00,
  `last_updated` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_by` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`central_id`),
  UNIQUE KEY `drug_id` (`drug_id`),
  FOREIGN KEY (`drug_id`) REFERENCES `custom_drugs` (`drug_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Inter-clinic transfers
CREATE TABLE IF NOT EXISTS `custom_transfers` (
  `transfer_id` int(11) NOT NULL AUTO_INCREMENT,
  `from_clinic_id` int(11) NOT NULL,
  `to_clinic_id` int(11) NOT NULL,
  `transfer_date` date NOT NULL,
  `expected_delivery_date` date,
  `actual_delivery_date` date,
  `transfer_status` enum('pending','approved','shipped','delivered','cancelled') DEFAULT 'pending',
  `transfer_type` enum('emergency','scheduled','return') DEFAULT 'scheduled',
  `priority` enum('low','normal','high','urgent') DEFAULT 'normal',
  `notes` text,
  `requested_by` varchar(255) NOT NULL,
  `approved_by` varchar(255) DEFAULT NULL,
  `shipped_by` varchar(255) DEFAULT NULL,
  `received_by` varchar(255) DEFAULT NULL,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`transfer_id`),
  KEY `from_clinic_id` (`from_clinic_id`),
  KEY `to_clinic_id` (`to_clinic_id`),
  KEY `transfer_status` (`transfer_status`),
  FOREIGN KEY (`from_clinic_id`) REFERENCES `custom_clinics` (`clinic_id`),
  FOREIGN KEY (`to_clinic_id`) REFERENCES `custom_clinics` (`clinic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Transfer items
CREATE TABLE IF NOT EXISTS `custom_transfer_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `transfer_id` int(11) NOT NULL,
  `drug_id` int(11) NOT NULL,
  `quantity_requested` int(11) NOT NULL,
  `quantity_shipped` int(11) DEFAULT 0,
  `quantity_received` int(11) DEFAULT 0,
  `lot_number` varchar(50),
  `expiration_date` date,
  `unit_cost` decimal(10,2) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`item_id`),
  KEY `transfer_id` (`transfer_id`),
  KEY `drug_id` (`drug_id`),
  FOREIGN KEY (`transfer_id`) REFERENCES `custom_transfers` (`transfer_id`) ON DELETE CASCADE,
  FOREIGN KEY (`drug_id`) REFERENCES `custom_drugs` (`drug_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Inventory alerts
CREATE TABLE IF NOT EXISTS `custom_inventory_alerts` (
  `alert_id` int(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` int(11) NOT NULL,
  `drug_id` int(11) NOT NULL,
  `alert_type` enum('low_stock','expiration','overstock','reorder_point') NOT NULL,
  `alert_message` text NOT NULL,
  `threshold_value` decimal(10,2) DEFAULT NULL,
  `current_value` decimal(10,2) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `acknowledged_date` timestamp NULL DEFAULT NULL,
  `acknowledged_by` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`alert_id`),
  KEY `clinic_id` (`clinic_id`),
  KEY `drug_id` (`drug_id`),
  KEY `alert_type` (`alert_type`),
  KEY `is_active` (`is_active`),
  FOREIGN KEY (`clinic_id`) REFERENCES `custom_clinics` (`clinic_id`) ON DELETE CASCADE,
  FOREIGN KEY (`drug_id`) REFERENCES `custom_drugs` (`drug_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- User clinic assignments
CREATE TABLE IF NOT EXISTS `custom_user_clinics` (
  `assignment_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) NOT NULL,
  `clinic_id` int(11) NOT NULL,
  `role` enum('user','manager','admin') DEFAULT 'user',
  `is_active` tinyint(1) DEFAULT 1,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assignment_id`),
  UNIQUE KEY `user_clinic` (`user_id`, `clinic_id`),
  KEY `clinic_id` (`clinic_id`),
  FOREIGN KEY (`clinic_id`) REFERENCES `custom_clinics` (`clinic_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Inventory transactions log
CREATE TABLE IF NOT EXISTS `custom_inventory_transactions` (
  `transaction_id` int(11) NOT NULL AUTO_INCREMENT,
  `clinic_id` int(11) NOT NULL,
  `drug_id` int(11) NOT NULL,
  `transaction_type` enum('in','out','transfer_in','transfer_out','adjustment') NOT NULL,
  `quantity` int(11) NOT NULL,
  `lot_number` varchar(50),
  `expiration_date` date,
  `unit_cost` decimal(10,2) DEFAULT NULL,
  `reference_id` varchar(50) DEFAULT NULL,
  `reference_type` varchar(50) DEFAULT NULL,
  `notes` text,
  `performed_by` varchar(255) NOT NULL,
  `transaction_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`transaction_id`),
  KEY `clinic_id` (`clinic_id`),
  KEY `drug_id` (`drug_id`),
  KEY `transaction_type` (`transaction_type`),
  KEY `transaction_date` (`transaction_date`),
  FOREIGN KEY (`clinic_id`) REFERENCES `custom_clinics` (`clinic_id`) ON DELETE CASCADE,
  FOREIGN KEY (`drug_id`) REFERENCES `custom_drugs` (`drug_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Insert sample clinics (your 20 clinics + central)

-- Insert sample drugs

-- Create triggers to maintain central inventory
DELIMITER $$

CREATE TRIGGER IF NOT EXISTS `update_custom_central_inventory_insert` 
AFTER INSERT ON `custom_inventory`
FOR EACH ROW
BEGIN
    INSERT INTO custom_central_inventory (drug_id, total_quantity, total_allocated, total_available, total_value, updated_by)
    VALUES (NEW.drug_id, NEW.quantity_on_hand, NEW.quantity_allocated, NEW.quantity_available, 
            NEW.quantity_on_hand * COALESCE(NEW.unit_cost, 0), 'system')
    ON DUPLICATE KEY UPDATE 
        total_quantity = total_quantity + NEW.quantity_on_hand,
        total_allocated = total_allocated + NEW.quantity_allocated,
        total_available = total_available + NEW.quantity_available,
        total_value = total_value + (NEW.quantity_on_hand * COALESCE(NEW.unit_cost, 0)),
        last_updated = NOW(),
        updated_by = 'system';
END$$

CREATE TRIGGER IF NOT EXISTS `update_custom_central_inventory_update` 
AFTER UPDATE ON `custom_inventory`
FOR EACH ROW
BEGIN
    UPDATE custom_central_inventory 
    SET total_quantity = total_quantity - OLD.quantity_on_hand + NEW.quantity_on_hand,
        total_allocated = total_allocated - OLD.quantity_allocated + NEW.quantity_allocated,
        total_available = total_available - OLD.quantity_available + NEW.quantity_available,
        total_value = total_value - (OLD.quantity_on_hand * COALESCE(OLD.unit_cost, 0)) + (NEW.quantity_on_hand * COALESCE(NEW.unit_cost, 0)),
        last_updated = NOW(),
        updated_by = 'system'
    WHERE drug_id = NEW.drug_id;
END$$

CREATE TRIGGER IF NOT EXISTS `update_custom_central_inventory_delete` 
AFTER DELETE ON `custom_inventory`
FOR EACH ROW
BEGIN
    UPDATE custom_central_inventory 
    SET total_quantity = total_quantity - OLD.quantity_on_hand,
        total_allocated = total_allocated - OLD.quantity_allocated,
        total_available = total_available - OLD.quantity_available,
        total_value = total_value - (OLD.quantity_on_hand * COALESCE(OLD.unit_cost, 0)),
        last_updated = NOW()
    WHERE drug_id = OLD.drug_id;
END$$

DELIMITER ; 
