-- Enhanced Inventory System Database Tables
-- This file contains the SQL to create additional tables for the enhanced inventory module

-- Table for vendor information linked to drugs
CREATE TABLE IF NOT EXISTS `drug_vendor_info` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `drug_id` int(11) NOT NULL,
  `vendor_id` bigint(20) NOT NULL,
  `vendor_item_code` varchar(50) DEFAULT NULL,
  `vendor_cost` decimal(10,2) DEFAULT 0.00,
  `lead_time_days` int(11) DEFAULT 0,
  `is_primary` tinyint(1) DEFAULT 0,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `drug_id` (`drug_id`),
  KEY `vendor_id` (`vendor_id`),
  KEY `is_primary` (`is_primary`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Table for inventory alerts and notifications
CREATE TABLE IF NOT EXISTS `inventory_alerts` (
  `alert_id` int(11) NOT NULL AUTO_INCREMENT,
  `drug_id` int(11) NOT NULL,
  `warehouse_id` varchar(31) DEFAULT NULL,
  `alert_type` enum('low_stock','reorder_point','expiration','overstock') NOT NULL,
  `alert_message` text NOT NULL,
  `threshold_value` decimal(10,2) DEFAULT NULL,
  `current_value` decimal(10,2) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `acknowledged_date` timestamp NULL DEFAULT NULL,
  `acknowledged_by` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`alert_id`),
  KEY `drug_id` (`drug_id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `alert_type` (`alert_type`),
  KEY `is_active` (`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Table for vendor order history
CREATE TABLE IF NOT EXISTS `vendor_orders` (
  `order_id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_id` bigint(20) NOT NULL,
  `order_date` date NOT NULL,
  `expected_delivery_date` date DEFAULT NULL,
  `actual_delivery_date` date DEFAULT NULL,
  `order_status` enum('pending','ordered','shipped','delivered','cancelled') DEFAULT 'pending',
  `order_total` decimal(10,2) DEFAULT 0.00,
  `shipping_cost` decimal(10,2) DEFAULT 0.00,
  `tax_amount` decimal(10,2) DEFAULT 0.00,
  `notes` text,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`order_id`),
  KEY `vendor_id` (`vendor_id`),
  KEY `order_date` (`order_date`),
  KEY `order_status` (`order_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Table for vendor order items
CREATE TABLE IF NOT EXISTS `vendor_order_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `drug_id` int(11) NOT NULL,
  `vendor_item_code` varchar(50) DEFAULT NULL,
  `quantity_ordered` int(11) NOT NULL,
  `quantity_received` int(11) DEFAULT 0,
  `unit_cost` decimal(10,2) NOT NULL,
  `total_cost` decimal(10,2) NOT NULL,
  `lot_number` varchar(20) DEFAULT NULL,
  `expiration_date` date DEFAULT NULL,
  `manufacturer` varchar(255) DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`item_id`),
  KEY `order_id` (`order_id`),
  KEY `drug_id` (`drug_id`),
  KEY `lot_number` (`lot_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Table for stock movement logs with enhanced tracking
CREATE TABLE IF NOT EXISTS `inventory_movement_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `drug_id` int(11) NOT NULL,
  `inventory_id` int(11) DEFAULT NULL,
  `warehouse_id` varchar(31) DEFAULT NULL,
  `movement_type` enum('purchase','sale','transfer','adjustment','return','destruction','expiration') NOT NULL,
  `quantity_before` int(11) DEFAULT NULL,
  `quantity_change` int(11) NOT NULL,
  `quantity_after` int(11) DEFAULT NULL,
  `reference_id` int(11) DEFAULT NULL COMMENT 'sale_id, order_id, etc.',
  `reference_type` varchar(50) DEFAULT NULL COMMENT 'sale, purchase, transfer, etc.',
  `lot_number` varchar(20) DEFAULT NULL,
  `expiration_date` date DEFAULT NULL,
  `unit_cost` decimal(10,2) DEFAULT NULL,
  `total_value` decimal(10,2) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `notes` text,
  `user_id` varchar(255) DEFAULT NULL,
  `movement_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `drug_id` (`drug_id`),
  KEY `inventory_id` (`inventory_id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `movement_type` (`movement_type`),
  KEY `movement_date` (`movement_date`),
  KEY `reference_id` (`reference_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Table for inventory settings and preferences
CREATE TABLE IF NOT EXISTS `inventory_settings` (
  `setting_id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_name` varchar(100) NOT NULL,
  `setting_value` text,
  `setting_description` text,
  `is_global` tinyint(1) DEFAULT 1,
  `facility_id` int(11) DEFAULT NULL,
  `created_date` timestamp DEFAULT CURRENT_TIMESTAMP,
  `updated_date` timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`setting_id`),
  UNIQUE KEY `setting_name_facility` (`setting_name`, `facility_id`),
  KEY `is_global` (`is_global`),
  KEY `facility_id` (`facility_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- Insert default inventory settings

-- Add indexes to existing tables for better performance
ALTER TABLE `drug_inventory` ADD INDEX `idx_drug_warehouse` (`drug_id`, `warehouse_id`);
ALTER TABLE `drug_inventory` ADD INDEX `idx_expiration` (`expiration`);
ALTER TABLE `drug_inventory` ADD INDEX `idx_on_hand` (`on_hand`);
ALTER TABLE `drug_sales` ADD INDEX `idx_drug_date` (`drug_id`, `sale_date`);
ALTER TABLE `drug_sales` ADD INDEX `idx_trans_type` (`trans_type`);
ALTER TABLE `drug_sales` ADD INDEX `idx_warehouse` (`warehouse_id`);

-- Add new columns to existing tables if they don't exist
ALTER TABLE `drug_inventory` ADD COLUMN IF NOT EXISTS `cost_per_unit` decimal(10,2) DEFAULT NULL AFTER `on_hand`;
ALTER TABLE `drug_inventory` ADD COLUMN IF NOT EXISTS `last_movement_date` timestamp NULL DEFAULT NULL AFTER `last_notify`;
ALTER TABLE `drugs` ADD COLUMN IF NOT EXISTS `shelf_life_days` int(11) DEFAULT NULL AFTER `cyp_factor`;
ALTER TABLE `drugs` ADD COLUMN IF NOT EXISTS `storage_conditions` varchar(255) DEFAULT NULL AFTER `shelf_life_days`;
ALTER TABLE `drugs` ADD COLUMN IF NOT EXISTS `primary_vendor_id` bigint(20) DEFAULT NULL AFTER `storage_conditions`; 
